@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/utilities";
@import '~antd/dist/antd.css';

.card-header {
  justify-content: space-between;

  .bulb {
    text-align: center;
  }

  .header {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
    white-space: normal;
    color: #9c9b9b;
  }

}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-header {
  z-index: 100;
}

.ant-layout-header .logo {
 /* width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 0 24px 0 24px;*/
  float: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.custom .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.custom .trigger:hover {
  color: #1890ff;
}

.custom .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.ant-card {
  margin-bottom: 10px;
}


//***************************************************************************
/**********************  SCSS for Blogs *************************************/



.card-header1 {
  justify-content: space-between;

  .bulb {
    text-align: center;
  }

  .header {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
    white-space: normal;
    color: #a09c9c;
    margin-bottom: 2.1rem;
  }

}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-header {
  z-index: 100;
}

.ant-layout-header .logo {
 /* width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 0 24px 0 24px;*/
  float: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.custom .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.custom .trigger:hover {
  color: #1890ff;
}

.custom .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.ant-card {
  margin-bottom: 10px;
}

//***************************************************************************
/**********************  SCSS for Courses *************************************/



.card-header2 {
  justify-content: space-between;

  .bulb {
    text-align: center;
  }

  .header {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
    white-space: normal;
    color: #a09c9c;
    margin: 1.07rem;
  }

}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-layout-header {
  z-index: 100;
}

.ant-layout-header .logo {
 /* width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 0 24px 0 24px;*/
  float: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.custom .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.custom .trigger:hover {
  color: #1890ff;
}

.custom .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.ant-card {
  margin-bottom: 10px;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.subtle {
  color: #888;
  font-size: 12px;
}

.card-media {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 125px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
}

.card-media-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media:hover .card-media-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 2px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-media-object-social-list {
  bottom: 4px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.card-media-object-social-list li {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
}

.card-media:hover .card-media-object-social-list li {
  opacity: 1;
  transform: translateY(0);
}

.card-media-object-social-list li:nth-child(1) {
  transition-delay: 0;
}
.card-media-object-social-list li:nth-child(2) {
  transition-delay: 75ms;
}
.card-media-object-social-list li:nth-child(3) {
  transition-delay: 150ms;
}

.card-media-object-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 65%;
}

.card-media-body-top {
  display: block;
}

.card-media-body-top-icons {
  margin-top: -2px;
  opacity: 0;
  transition: all 300ms ease-out;
  transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
  opacity: 1;
  transform: translateY(0);
}

.card-media-body-top-icons > svg {
  cursor: pointer;
  margin-left: 10px;
  transition: all 300ms ease-out;
}

.card-media-body-top-icons > svg:hover {
  fill: #444;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
}

.card-media-body-supporting-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.card-media-link {
  color: #41C1F2;
  text-decoration: none;
}



//=====================================================================
//                              NEW BOOK PREVIEW
//=====================================================================



.item-pane {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    padding: 26px;
    background: white;
    word-wrap: break-word;
    word-break: break-all;
}

.item-preview {
    margin-right: 26px;
    padding: 26px;
}

.item-preview,
.item-details {
    flex-grow: 1;
}

.pane__section {
    padding-top: 26px;
}
.pane__section:not(:last-child) {
    padding-bottom: 26px;
    border-bottom: 1px solid #d4d4d4;
}

.item-price {
    font-family: 'Roboto Slab', Roboto, sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.subtitle {
    font-family: 'Roboto Slab', Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.item-price__units {
    font-weight: 300;
}

.button {
    padding: 0.6em 1em;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #80db65;
    border-radius: 3px;
}
.button:hover {
    background: #5ed13c;
}


.buy-button {
    float: left;
}

.book {
    position: relative;
    width: 216px;
    height: 322px;
    transform: rotateX(-15deg) rotateY(30deg);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-size: cover !important;
}

.book:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 35px;
    height: 100%;
    background-color : var(--before-bg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}
.book:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 35px;
    background: #eeeeee;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.book:hover {
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    transform: rotateX(-10deg) rotateY(20deg);
}

.book__title {
    margin-bottom: 1em;
    font-weight: 700;
}
.book__text {
    font-family: Roboto;
    background: #e9d1c5;
    padding: 20px;
    color: #563323;
}

.vertical-center-modal {
    vertical-align: middle;
    padding-top: 5%;
}

.id-card .ant-card-body {
    padding: 0;
}

.book-card {
    padding : 10px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.book-card:hover { background-color: #E5E5E5; }


.book-card .cover {
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    zoom: 1;
}


//==================================================================================================
//MENTORS
//==================================================================================================
.mentor-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.repo-list .repo {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.repo-list .repo > div {
  margin: 5px;
}

.repo-list .repo .repo-icon .repo-image {
  @extend .mentor-image;
  height: 80px;
  width: 80px;
  flex-grow: 1;
}

.repo-list .repo .repo-avatar {
  
}

.repo-list .repo .repo-desc {
  flex-grow: 4;
}

//==================================================================================================
//events
//==================================================================================================